{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title>Voidmain</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}" title="style" />
</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<center><a href="#"><font color="white">Ecommerce</font></a></center>
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">

                    <li><a href="/getproducts">Products</a></li>

                    <li><a href="/transactions">Transactions</a></li>

                    <li><a href="/logout">logout</a></li>

				</ul>
			</div>
		</div>
		<div id="site_content">

            <div class="sidebar">
					<h3>Recommended Products</h3>
					{% for recommended in userrecommendations %}
						<h4>{{ recommended.name }}</h4>
						<img src="{% static ''%}{{recommended.path }}" height="100" width="100">
						<h4>Price:{{ recommended.price }}</h4>

						<br/><br/><hr/>
					{% endfor %}
            </div>

			<div id="content">

                    <h2>{{ productbean.product.name }}</h2>

                     <img src="{% static ''%}{{ productbean.product.path }}" height="100" width="100">

                    <br/>

                    <p>Rating : {{ productbean.rating }}</p>

                    <p>Description : {{ productbean.description }}</p>

                            <form name="form" action="/rateproduct/">
                                {% csrf_token %}
                                <div class="form_settings">
                                    <input type='hidden' name='product' value='{{ productbean.product.id }}'>
                                    <p>
                                        <span>Rate this Product</span>
                                        <select name="rating" required>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </p>
                                    <p style="padding-top: 15px">
                                        <span>&nbsp;</span><input class="submit" type="submit"
                                        name="contact_submitted" value="Submit your Rating" />
                                    </p>
                                </div>
                            </form>

                    <h3>Comments</h3>

                        <form name="form" action="/postcomment/" method="POST">
                            {% csrf_token %}
                            <div class="form_settings">
                                <input type='hidden' name='product' value='{{ productbean.product.id }}'>
                                <p>
                                    <span>Write Your Comment Here </span><input type="text" name="text" required>
                                </p>
                                <p style="padding-top: 15px">
                                    <span>&nbsp;</span><input class="submit" type="submit"
                                    name="contact_submitted" value="Post Comment" />
                                </p>
                            </div>
                        </form>

                    {% for comment in productbean.comments %}

                        <p>
                            {{ comment.user }} posted on: {{ comment.datetime }} <br>
                            {{ comment.text }}
                        </p>

                    {% endfor %}

            </div>
        </div>
	</div>
</body>
</html>
